﻿@model Thot.Models.CoursInfo

@{
    ViewBag.Title = "cours";
}

<h2>cours</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    @*@Html.DisplayFor(model => model.courNom*@
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h1>@Model.courNom</h1>
            </div>
            <div class="row">
                <h3>@Model.prof</h3>
            </div>
        </div>
        <div class="col-md-6">
            <iframe width="420" height="315"
                    src="@Model.video">
            </iframe>
        </div>
    </div>
    <div class="row">
        <button value="">@Model.pdf</button>
        <button>@Model.solutionnaire</button>
        <button>@Model.quiz</button>
    </div>
}
