﻿@*@model Thot.Cours*@
@model List<Cours>

@{
    ViewBag.Title = "Cours";
}

<h2>Index</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    String text;
    foreach (Cours i in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@i.nomDuCours</h5>
                    <p class="card-text">
                        @if (i.IdNiv == 1)
                        {
                            text = "Primaire";
                        }
                        else if (i.IdNiv == 2)
                        {
                            text = "Secondaire";
                        }
                        else
                        {
                            text = "Collegial";
                        }
                        @text
                    </p>
                    @Html.ActionLink("Voir le cour", "cours", i, htmlAttributes: new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
}
