﻿@model IEnumerable<Thot.Cours>

@{
    ViewBag.Title = "ListCours";
}

<h2>ListCours</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomDuCours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPdf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNiv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quiz)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomDuCours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdProf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPdf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdNiv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quiz)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCours }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCours }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCours })
        </td>
    </tr>
}

</table>
